* {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.navbar {
  background: linear-gradient(90deg, #5f3b0b, #707070b4);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(161, 161, 161, 0.1);
  box-shadow: 0 5px 5px rgba(112, 112, 112, 0.1);
  z-index: 1000;
  position: fixed;
  transform: translateX(-50%);
  width: 95vw;
  height: 30px;
  top: 20px;
  left: 50%;
  max-width: 1200px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

section {
  max-width: 100vw;
  min-height: 100vh;
  background: url('/perpus.jpg') no-repeat center center fixed;
  background-size: cover;
}

section .container {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow-y: auto;
}

section .list-book {
  padding-top: 100px;
  padding-bottom: 100px;
}

section .footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.card-group {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
}

.list-member {
  display: flex;
  gap: 50px;
}

.card-member {
  background-color: #70707065;
  width: 300px;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
  object-position: top;
}

.card-member h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.card-member p {
  margin: 50px 20px;
}

h2 {
  margin-top: 50px;
}